<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Category</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
<div class="wrapper d-flex align-items-stretch">
<%- include("./partials/_menu.ejs",{userId:userId,userType:userType,username:username,userImg:userImg}) %>
<div class="dist-dealer-list section">
	<div class="container-fluid">
		<div class="dist-dealer-list-div section-div">
			<form action="/categoriesByName" method="post">
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<input type="text" class="form-control" id="identifier" name="name" placeholder="Search">
						</div>
						<div class="col-12">

								<button type="submit" class="btn btn-success w-25">SEARCH</button>

						</div>
					</div>
				</div>
			</form>
			<div class="d-flex justify-content-between mb-2">
				<h4 class="h4">CATEGORY <span>LIST</span></h4>
				<a href="/category_cr" class="btn btn-danger btn-create btn-sm">+ Create Category</a>
			</div>
			<div class="table-div" id="horizontalScroll">
				<table class="table table-striped">
				<thead class="thead-light">
					<tr>
						<th scope="col">Identifier</th>
						<th scope="col">Child Category Name</th>
						<th scope="col">Sub Category Name</th>
						<th scope="col">Top Category Name</th>
						<th scope="col" class="action">Status</th>
						<th scope="col" class="action">Action</th>
					</tr>
				</thead>
				<tbody>
					<% catList.forEach(function(cat){ %>
					<tr>
						<td><%= cat.Identifier %></td>
						<td><%= cat.catname %></td>
						<td><%= cat.subcatname %></td>
						<td><%= cat.topcatname %></td>
						<td>
							<% switch (cat.Status) {
								case '1' : %>
							<a href="#" class="btn btn-primary btn-sm">Active</a>
							<% break;
							case '0' : %>
						<a href="#" class="btn btn-primary btn-sm">In-Active</a>
						<% break;
						} %>
						</td>
						<td>
							<a href="/categorybyId/Id/<%= cat.Identifier %>" class="btn btn-dark btn-sm">View</a>
						</td>
					</tr>
          <% }); %>
				</tbody>
			</table>
			</div>
			<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="/categories/pageNo/1" class="active">1</a>
  <a href="/categories/pageNo/2">2</a>
  <a href="/categories/pageNo/3">3</a>
  <a href="/categories/pageNo/4">4</a>
  <a href="/categories/pageNo/5">5</a>
  <a href="/categories/pageNo/6">6</a>
  <a href="/categories/pageNo/7">&raquo;</a>
</div>
		</div>
	</div>
</div>
</div>

<script src="/javascripts/fontawwesome.js"></script>
<!-- jQuery -->
<script src="/javascripts/jquery.min.js"></script>
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
</body>
</html>
