<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Complaints</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->

<!-- local bootstrap -->
<script src="/javascripts/webfont/webfont.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/atlantis.min.css">
<link href="/javascripts/jquery-ui/jquery-ui.css" rel="stylesheet"/>
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
<div class="wrapper d-flex align-items-stretch">
<%- include("./partials/_menu.ejs",{userId:userId,userType:userType,username:username,userImg:userImg}) %>
<div class="order section">
	<div class="container-fluid">
		<div class="order-div section-div">
			<h4 class="h4">Complaints <span>DETAILS</span></h4>
			<!-- button div -->
			<div class="btn-group btn-group-toggle w-100 mt-2 shadow">
				<input value="0" type="radio" name="leg" id="option0" onclick="filter('0')" checked>
				<label class="btn-sm btn btn-light" for="option0">
					All
				</label>
				<input value="R" type="radio" name="leg" onclick="filter('R')" id="option1">
				<label class="btn-sm btn btn-light" for="option1">
					Rejected
				</label>
				<input value="A" type="radio" name="leg" onclick="filter('A')" id="option2">
				<label class="btn-sm btn btn-light" for="option2">
					Approved
				</label>
				<input value="I" type="radio" name="leg" onclick="filter('I')" id="option3">
				<label class="btn-sm btn btn-light" for="option3">
					In-Progress
				</label>
				<input value="D" type="radio" name="leg" onclick="filter('D')" id="option4">
				<label class="btn-sm btn btn-light" for="option4">
					Delivered
				</label>
				<input value="S" type="radio" name="leg" onclick="filter('S')" id="option5">
				<label class="btn-sm btn btn-light" for="option5">
					Shipped
				</label>
			</div>
			<i class="dropdown-divider d-block"></i>
			<!-- <div class="form-group filter-div row">
				<div class="col-12 text-left">
			    <label for="quantity" class="filter-label">Filter: </label>
				</div>
				<div class="col 12">
					<form action="/ordersFilter" method="post">
					<div class="row">
						<div class="col-5">
							<input type="date" name="startDate" class="form-control">
						</div>
						<div class="col-5">
							<input type="date" name="endDate" class="form-control">
						</div>
						<div class="col-2">
							<button type="submit" class="btn btn-danger">FILTER</button>
						</div>
					</div>
				</form>
				</div>
		  </div> -->
			<div class="col-md-12">
		    <div class="card">
		      <div class="card-header">
		        <h4 class="card-title">Complaints</h4>
		      </div>
		      <div class="card-body">
		        <div class="table-responsive">
		          <table id="basic-datatables" class="display table table-striped table-hover" >
		            <thead>
		              <tr>
						<th>Order Id</th>
		                <th>Date</th>
		                <!-- <th>Total Value</th> -->
		                <th>Status</th>
										<% if (userType != 'SE') { %>
                                  <th>Action</th>
                                  <th>View</th>
										<% } %>
		              </tr>
		            </thead>
		  <tbody>
				<% var ord_status; %>
				<% var options=[]; %>
                <% console.log(orders); %>
				<% if (orders) { %>
					<% orders.forEach(function(order){ %>

						<% switch (userType) {
								case 'HOD' : %>

								<% switch (order.STATUS) {
									case 'P' : %>
												<%  ord_status='Pending' %>
												<%  options = [ "A", "R", "I"]; %>
													<% break;

									case 'A' : %>
											 <% ord_status='Approved' %>
											 <%  options = ["R", "I" ]; %>
													<% break;

									case 'I' : %>
								<%  ord_status='In-Progress' %>
								<%  options = [ "A", "R"]; %>
									<% break;

									case 'R' : %>
								<%  ord_status='Rejected' %>
								<%  options = [ ]; %>
									<% break;
							} %>

							 <% break;

							 case 'A' : %>

							 <% switch (order.STATUS) {
								 case 'P' : %>
											 <%  ord_status='Pending' %>
											 <%  options = [ "A", "R", "I" ]; %>
												 <% break;

								 case 'A' : %>
											<% ord_status='Approved' %>
											<%  options = ["R", "I" ]; %>
												 <% break;

								 case 'I' : %>
							 <%  ord_status='In-Progress' %>
							 <%  options = [ "A", "R" ]; %>
								 <% break;

								 case 'R' : %>
							 <%  ord_status='Rejected' %>
							 <%  options = [ ]; %>
								 <% break;
						 } %>

							<% break;

							 case 'DL' : %>
							 <% switch (order.STATUS) {
								 case 'P' : %>
											 <%  ord_status='Pending' %>
											 <%  options = [  ]; %>
												 <% break;

								 case 'A' : %>
											<% ord_status='Approved' %>
											<%  options = [ ]; %>
												 <% break;

								 case 'I' : %>
							 <%  ord_status='In-Progress' %>
							 <%  options = [  ]; %>
								 <% break;

								 case 'S' : %>
							 <%  ord_status='Shipped' %>
							 <%  options = [ "D" ]; %>
								 <% break;

								 case 'D' : %>
							 <%  ord_status='Delivered' %>
							 <%  options = [ ]; %>
								 <% break;

								 case 'R' : %>
							 <%  ord_status='Rejected' %>
							 <%  options = [ ]; %>
								 <% break;
						 } %>
							<% break;

							case 'DT' : %>

							<% switch (order.STATUS) {
								case 'P' : %>
											<%  ord_status='Pending' %>
											<%  options = [  ]; %>
												<% break;

								case 'A' : %>
										 <% ord_status='Approved' %>
										 <%  options = [ ]; %>
												<% break;

								case 'I' : %>
							<%  ord_status='In-Progress' %>
							<%  options = [  ]; %>
								<% break;

								case 'S' : %>
							<%  ord_status='Shipped' %>
							<%  options = [ "D" ]; %>
								<% break;

								case 'D' : %>
							<%  ord_status='Delivered' %>
							<%  options = [ ]; %>
								<% break;

								case 'R' : %>
							<%  ord_status='Rejected' %>
							<%  options = [ ]; %>
								<% break;
						} %>

						 <% break;

						 case 'SE' : %>

						 <% switch (order.STATUS) {
							 case 'P' : %>
										 <%  ord_status='Pending' %>
										 <%  options = [ ]; %>
											 <% break;

							 case 'A' : %>
										<% ord_status='Approved' %>
										<%  options = [ ]; %>
											 <% break;

							 case 'I' : %>
						 <%  ord_status='In-Progress' %>
						 <%  options = [  ]; %>
							 <% break;

							 case 'S' : %>
						 <%  ord_status='Shipped' %>
						 <%  options = [ "D" ]; %>
							 <% break;

							 case 'D' : %>
						 <%  ord_status='Delivered' %>
						 <%  options = [ ]; %>
							 <% break;

							 case 'R' : %>
						 <%  ord_status='Rejected' %>
						 <%  options = [ ]; %>
							 <% break;
					 } %>

						<% break;

						} %>

				<tr>
					<td scope="row">
						<a href="/orderdtl/<%= order.order_id %>"><%= order.order_id %></a>
					</td>
					<!-- <td scope="row">
						<a class="btn btn-primary" href="/geninvoice/id/<%= order.order_id %>" target="_blank"><%= order.order_id %> Invoice</a>
					</td> -->
					<td><%= moment(order.CREATETIME).format( 'YYYY-MM-DD') %></td>
					<!-- <td>₹<%= order.TOTAL %></td> -->
					<td>
						<p class="td-status rejected"><%= ord_status %></p>
					</td>
					<td>
						<% if (userType != 'SE') { %>
	 <button type="button" onclick="openModel('<%= order.order_id %>','<%= options %>')" class="btn btn-success rounded-0">Update</button>
							<% switch (order.STATUS) {
							 case 'S' : %>
							<a href="/geninvoice/id/<%= order.order_id %>" target="_blank" class="btn btn-primary btn-sm" disabled>Generate Invoice</a>
							<% break;
							 } %>
						<% } %>
                    </td>
                    <td>
                        <button type="button" onclick="openComplaints('<%= order.order_id %>','<%= order.order_qty_complain %>','<%= order.order_qa_complain %>', '<%= order.order_delivery_complain %>')" class="btn btn-primary rounded-0">View</button>
                    </td>
				</tr>
				<% }); %>
				<%} %>

		</tbody>
		</table>
		</div>
		</div>
		</div>
		</div>
		</div>
	</div>
</div>
</div>
<div id="dialog" title="Status Update" class="ui-dialog" style="display:none;">
	<form id="orderaction" method="post" action="/complaint_update">
		<input type="hidden"  id="modal_orderId" name="orderId" value="">
		<select id="modal_action" name="status"  onchange="updateShipData()" required>
		<option value="" >Select</option>
		</select>
        
 <button type="submit" class="btn btn-success rounded-0">Update</button>
	</form>
</div>


<!-- complaint details modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Order Complaint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h4>Quantity Complaint</h4>
            <p id="qty_complaint"></p>
            <br>
            <br>
            <h4>Quality Complaint</h4>
            <p id="qa_complaint"></p>
            <br>
            <br>
            <h4>Delivery Complaint</h4>
            <p id="delivery_complaint"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<script src="/javascripts/fontawwesome.js"></script>
<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/atlantis.min.js"></script>
<script src="/javascripts/jquery-ui/jquery-ui.js"></script>
<script src="/javascripts/datatables/datatables.min.js"></script>
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
<script>
function filter(val){
	window.location.href = "http://mbmchairs-env.eba-mz8cbctk.ap-south-1.elasticbeanstalk.com/ordersByStatus/"+val;
}

$( function() {
    $( "#modal_shipdateId" ).datepicker();
		$( "#modal_recdateId" ).datepicker();
  } );

function openComplaints(orderId, order_qty_complain, order_qa_complain, order_delivery_complain) {
 console.log(orderId);
 console.log(order_qty_complain);
 console.log(order_qa_complain);
 console.log(order_delivery_complain);
 $('#qty_complaint').html(order_qty_complain);
 $('#qa_complaint').html(order_qa_complain);
 $('#delivery_complaint').html(order_delivery_complain);
    $('#exampleModal').modal('show');
}
function openModel(orderId,options) {

 var opt_arry=options.split(',');
  $('#modal_orderId').val(orderId);
  $('.ship_div').css("display", "none");
  $('.ship_input').prop("type", "hidden");
  $('#modal_action')
    .find('option')
    .remove()
    .end()
    .append('<option value="">Select</option>');
  $.each(opt_arry, function(index, value) {
  switch (value) {
	case 'P':
  $('#modal_action').append(`<option value="P">Pending</option>`);
		break;
	case 'A':
		$('#modal_action').append(`<option value="A">Approve</option>`);
		break;
	case 'I':
		$('#modal_action').append(`<option value="I">In-Progress</option>`);
		break;
	case 'S':
		$('#modal_action').append(`<option value="S">Ship</option>`);
		break;
  case 'D':
  	$('#modal_action').append(`<option value="D">Deliver</option>`);
  	break;
  case 'R':
    $('#modal_action').append(`<option value="R">Reject</option>`);
    break;
}
});
    $( "#dialog" ).dialog();
  }

function updateShipData(){
  var status=$('#modal_action').val();
  if(status=='S'){
    $('.ship_div').css("display", "block");
    $('.ship_input').prop("type", "text");
  }else if(status=='D'){
    $('.rec_div').css("display", "block");
    $('.rec_input').prop("type", "text");
  }else{
    $('.ship_div').css("display", "none");
    $('.ship_input').prop("type", "hidden");
  }
}
$(document).ready(function() {
	$('#basic-datatables').DataTable({
	});
});
</script>
</body>
</html>
