<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Order View</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/snackbar/snackbar.css">
<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
	<div class="wrapper d-flex align-items-stretch">
<%- include("./partials/_menu.ejs",{userId:userId,userType:userType,username:username,userImg:userImg}) %>
<div class="order-view section">
	<div class="container-fluid">
		<div class="product-div section-div">
			<h4 class="h4">ORDER <span>VIEW</span></h4>
			<div id="snackbar"></div>
				<table class="table">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col">SL No:</th>
				      <th scope="col">Image</th>
				      <th scope="col">Product Name</th>
							<th scope="col">Spare Name</th>
				      <th scope="col">Quantity</th>
				      <th scope="col">Unit price</th>
							<th scope="col">Spare Total</th>
				      <th scope="col">Total</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
						<% cartList.forEach(function(cart){ %>
							<tr>
							  <!-- 1 -->
							  <!-- <td><%=cart.CART_ID %></td> -->
						 	 <td><%=cart.CARTDTL_ID %></td>
						 	 <!-- 2 -->
						 	 <td>
						 		 <img src="/images/products/<%= cart.THUMBNAIL %>"alt="<%= cart.NAME %>" class="prod-img img-fluid" width="50">
						 	 </td>
						 	 <!-- 3 -->
						 	 <td><%= cart.NAME %></td>
							 <td><%= pspare_dtl %></td>
						 	 <!-- 4 -->
						 	 <td class="">
						 		 <div class="form-group">
						 			 <input type="number" id="qty_input_<%= cart.CARTDTL_ID %>" step="1" placeholder="1" min="1" class="form-control text-center mx-auto" value="<%= cart.QTY %>"
									 onchange="updateCart('<%= cart.PRODUCT_ID %>','<%= cart.OFFERPRICE %>','<%= cart.CART_ID %>','<%= cart.CARTDTL_ID %>')">
						 		 </div>
						 	 </td>
						 	 <!-- 5 -->
						 	 <td>₹ &nbsp;<%= cart.OFFERPRICE %></td>
						 	 <!-- 6 -->
							 <td>₹ &nbsp;<%= cart.SPARETOTAL %></td>
						 	 <td>₹ &nbsp;<%= cart.TOTAL %></td>
						 	 <!-- 7 -->
						 	 <td>
						 		 <a class="btn btn-sm btn-danger" href="/deleteCartItem/cartId/<%=cart.CART_ID %>/cartDtlId/<%=cart.CARTDTL_ID %>">
						 			 <i class="fa fa-trash" aria-hidden="true"></i>
						 		 </a>
						 	 </td>
						  </tr>
							<% }); %>
							<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td><strong>₹ &nbsp;<%= csubtotal %></strong></td>
							</tr>
				  </tbody>
				</table>
				<hr>
				<% if (userType == 'SE') { %>
					<label for="dldtId" style="width: 50%; text-align: center; margin-left: 20rem;" class="form-control input-sm">Select Dealer/Distributor</label>
					<select style="width: 50%; text-align: center; margin-left: 20rem; margin-bottom: 5rem;" class="form-control input-sm" id="dldtId" name="dldt" placeholder="Dealer/Distributor" required>
					  <option value="">Choose</option>
						<% dldtList.forEach(function(dldt){ %>
						  <option value="<%= dldt.USER_ID %>"><%= dldt.LOGON_ID1 %></option>
						  <% }); %>
					</select>
					<% } %>
					<button class="btn btn-danger">
						<i class="fa fa-gift"></i>
						<input id="redeem_check" type="checkbox" data-toggle="toggle">
					</button>
					

				
				
				<p id="points_display"></p>
				<p>You have: <b id="usr_reward_points"></b> Points</p>
				<p class="cart-total right">
					<strong>Sub-Total</strong>:	₹ &nbsp;<%= csubtotal %><br>
					<strong>GST (17.5%)</strong>: ₹ &nbsp;<%= cvat %><br>
					<strong>Total</strong>: ₹ &nbsp;<%= ctotal %><br>
				</p>
				<hr/>
				<p class="buttons center">
				<input type="hidden" id="cartid" name="cartid" value="<%= cartid %>"/>
				<input type="hidden" id="cart_total_value" name="cart_total_value" value="<%= ctotal %>"/>
				<input type="hidden" id="userTypeId" name="userType" value="<%= userType %>"/>
				<input type="hidden" id="userId" name="userId" value="<%= userId %>"/>
				
				<button class="btn btn-success" type="button" onclick="checkout()" id="checkout">Order Now</button>
				</p>
				<!-- <div id="dialog-1" title="Member Selection">Please select Dealer/Disrtibutior</div> -->
		</div>
	</div>
</div>
</div>

<script src="/javascripts/fontawwesome.js"></script>
<script src="/snackbar/snackbarScript.js"></script>
<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
<script src="/javascripts/jquery-ui/jquery-ui.js"></script>
<script>





$(document).ready(function() {
  $(function() {
             $( "#dialog-1" ).dialog({
                autoOpen: false,
             });
          });
});


$('#redeem_check').click(function(){
	if( $('#redeem_check').is(':checked'))
	{
		redeemPointAdded();
		
	}else{
		redeemPointRemoved();
	}
	
	setTimeout(
		function(){
			if( $('#redeem_check').is(':checked'))
	{
		var redeem_status = true;
		var points = 50;
		var total = jQuery('#cart_total_value').val();
		var cart_id = jQuery('#cartid').val();

		console.log(jQuery('#cartid').val());
		console.log(jQuery('#cart_total_value').val());
		$.ajax({
			type:'POST',
			url:'/updatecarttotal',
			data:{
				'points':points,
				'total': total,
				'cart_id': cart_id,
				'redeem_status':redeem_status
			},
			success: function(data) {
				console.log(data);
					$.ajax({
					type:'POST',
					url:'/updaterewardpoints',
					data:{
						'points':points,
						'redeem_status':redeem_status
					},
					success: function(data) {
						console.log(data);
						
					},
					error: function(err){
						console.log(err);
					},
					complete: function(res){
						location.reload();
					}
				});
			},
			error: function(err){
				console.log(err);
			},
			complete: function(res){
				
			}
		});
		//end of ajax
	}else{
		var redeem_status = false;
		var points = 50;
		var total = jQuery('#cart_total_value').val();
		var cart_id = jQuery('#cartid').val();

		console.log(jQuery('#cartid').val());
		console.log(jQuery('#cart_total_value').val());
			$.ajax({
				type:'POST',
				url:'/updatecarttotal',
				data:{
					'points':points,
					'total': total,
					'cart_id': cart_id,
					'redeem_status':redeem_status
				},
				success: function(data) {
					console.log(data);
					$.ajax({
					type:'POST',
					url:'/updaterewardpoints',
					data:{
						'points':points,
						'redeem_status':redeem_status
					},
					success: function(data) {
						console.log(data);
					},
					error: function(err){
						console.log(err);
					},
					complete: function(res){
						location.reload();
					}
				});
			},
			error: function(err){
				console.log(err);
			},
			complete: function(res){
				
			}
		});
		//end of ajax
	}
		}, 2000)
	

});

jQuery.ajax({
 url: '/getrewardpoints',
  contentType: "application/json",
  dataType: 'json',
  success: function(result){
	console.log(result.data);
	if(result.data > 50)
	{
		$('#points_display').html('Redeem 50 points from your Rewards');
	}else {
		$('#points_display').html('You dont have sufficient Points');
	}
	
	$('#usr_reward_points').html(result.data);
    }
  });


function checkout(){
	placingOrder();
  var cartId=jQuery('#cartid').val();
  var userType=jQuery('#userTypeId').val();
  var memberFor=jQuery('#userId').val();
  if(userType=='SE'){
    var memberFor=jQuery('#dldtId').val();
    if(memberFor == undefined || memberFor==''){
    $( "#dialog-1").dialog( "open" );
    }
  }
  jQuery.ajax({
 url: '/regAct/place_order/cartId/'+cartId+'/memberFor/'+memberFor,
  contentType: "application/json",
  dataType: 'json',
  success: function(result){
    document.location.href = "/orders";
    }
  });
}
function updateCart(prdId,price,cartId,cartdtlId){
	console.log("hii")
var qty=jQuery('#qty_input_'+cartdtlId).val();
  jQuery.ajax({
  url: '/regAct/updateCart/prd/'+prdId+'/qty/'+qty+'/price/'+price+'/cartId/'+cartId+'/cartDtlId/'+cartdtlId,
  contentType: "application/json",
  dataType: 'json',
  success: function(result){
    document.location.href = "/cart";
    }
});
}
</script>
</body>
</html>
