<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Orders</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->

<!-- local bootstrap -->
<script src="/javascripts/webfont/webfont.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/atlantis.min.css">
<link href="/javascripts/jquery-ui/jquery-ui.css" rel="stylesheet"/>
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">

</head>
<body>
<div class="wrapper d-flex align-items-stretch">
<%- include("./partials/_menu.ejs",{userId:userId,userType:userType,username:username,userImg:userImg}) %>
<div class="order section">
	<div class="container-fluid">
		<div class="order-div section-div">
			<h4 class="h4">ORDER <span>DETAILS</span></h4>
			<!-- button div -->
			<!-- <div class="btn-group btn-group-toggle w-100 mt-2 shadow">
				<input value="0" type="radio" name="leg" id="option0" onclick="filter('0')" checked>
				<label class="btn-sm btn btn-light" for="option0">
					All
				</label>
				<input value="R" type="radio" name="leg" onclick="filter('R')" id="option1">
				<label class="btn-sm btn btn-light" for="option1">
					Rejected
				</label>
				<input value="A" type="radio" name="leg" onclick="filter('A')" id="option2">
				<label class="btn-sm btn btn-light" for="option2">
					Approved
				</label>
				<input value="I" type="radio" name="leg" onclick="filter('I')" id="option3">
				<label class="btn-sm btn btn-light" for="option3">
					In-Progress
				</label>
				<input value="D" type="radio" name="leg" onclick="filter('D')" id="option4">
				<label class="btn-sm btn btn-light" for="option4">
					Delivered
				</label>
				<input value="S" type="radio" name="leg" onclick="filter('S')" id="option5">
				<label class="btn-sm btn btn-light" for="option5">
					Shipped
				</label>
			</div> -->
			<i class="dropdown-divider d-block"></i>
			<!-- <div class="form-group filter-div row">
				<div class="col-12 text-left">
			    <label for="quantity" class="filter-label">Filter: </label>
				</div>
				<div class="col 12">
					<form action="/ordersFilter" method="post">
					<div class="row">
						<div class="col-5">
							<input type="date" name="startDate" class="form-control">
						</div>
						<div class="col-5">
							<input type="date" name="endDate" class="form-control">
						</div>
						<div class="col-2">
							<button type="submit" class="btn btn-danger">FILTER</button>
						</div>
					</div>
				</form>
				</div>
		  </div> -->
			<div class="col-md-12">
		    <div class="card"></div>
		      <div class="card-header">
		        <h4 class="card-title">Orders</h4>
		      </div>
		      <div class="card-body">
		        <div class="table-responsive">
		          <table id="basic-datatables" class="display table table-striped table-hover" >
		            <thead>
		              <tr>
						<th>Id</th>
						<th>Invoice</th>
		                <th>Date</th>
		                <th>Total Value</th>
		                <th>Status</th>
										<% if (userType != 'SE') { %>
							      <th>Action</th>
										<% } %>
		              </tr>
		            </thead>
		  <tbody>
				<% var ord_status; %>
				<% var options=[]; %>

				<% if (orders) { %>
					<% orders.forEach(function(order){ %>

						<% switch (userType) {
								case 'HOD' : %>

								<% switch (order.status) {
									case 'P' : %>
												<%  ord_status='Pending' %>
												<%  options = [ "A", "R", "I", "S", "D" ]; %>
													<% break;

									case 'A' : %>
											 <% ord_status='Approved' %>
											 <%  options = ["R", "I", "S", "D" ]; %>
													<% break;

									case 'I' : %>
								<%  ord_status='In-Progress' %>
								<%  options = [ "S", "D" ]; %>
									<% break;

									case 'S' : %>
								<%  ord_status='Shipped' %>
								<%  options = [ "D" ]; %>
									<% break;

									case 'D' : %>
								<%  ord_status='Delivered' %>
								<%  options = [ ]; %>
									<% break;

									case 'R' : %>
								<%  ord_status='Rejected' %>
								<%  options = [ ]; %>
									<% break;
							} %>

							 <% break;

							 case 'A' : %>

							 <% switch (order.status) {
								 case 'P' : %>
											 <%  ord_status='Pending' %>
											 <%  options = [ "A", "R", "I", "S", "D" ]; %>
												 <% break;

								 case 'A' : %>
											<% ord_status='Approved' %>
											<%  options = ["R", "I", "S", "D" ]; %>
												 <% break;

								 case 'I' : %>
							 <%  ord_status='In-Progress' %>
							 <%  options = [ "S", "D" ]; %>
								 <% break;

								 case 'S' : %>
							 <%  ord_status='Shipped' %>
							 <%  options = [ "D" ]; %>
								 <% break;

								 case 'D' : %>
							 <%  ord_status='Delivered' %>
							 <%  options = [ ]; %>
								 <% break;

								 case 'R' : %>
							 <%  ord_status='Rejected' %>
							 <%  options = [ ]; %>
								 <% break;
						 } %>

							<% break;

							 case 'DL' : %>
							 <% switch (order.status) {
								 case 'P' : %>
											 <%  ord_status='Pending' %>
											 <%  options = [ "D" ]; %>
												 <% break;

								 case 'A' : %>
											<% ord_status='Approved' %>
											<%  options = [ "D"]; %>
												 <% break;

								 case 'I' : %>
							 <%  ord_status='In-Progress' %>
							 <%  options = [ "D" ]; %>
								 <% break;

								 case 'S' : %>
							 <%  ord_status='Shipped' %>
							 <%  options = [ "D" ]; %>
								 <% break;

								 case 'D' : %>
							 <%  ord_status='Delivered' %>
							 <%  options = [ ]; %>
								 <% break;

								 case 'R' : %>
							 <%  ord_status='Rejected' %>
							 <%  options = [ ]; %>
								 <% break;
						 } %>
							<% break;

							case 'DT' : %>

							<% switch (order.status) {
								case 'P' : %>
											<%  ord_status='Pending' %>
											<%  options = [  ]; %>
												<% break;

								case 'A' : %>
										 <% ord_status='Approved' %>
										 <%  options = [ ]; %>
												<% break;

								case 'I' : %>
							<%  ord_status='In-Progress' %>
							<%  options = [  ]; %>
								<% break;

								case 'S' : %>
							<%  ord_status='Shipped' %>
							<%  options = [ "D" ]; %>
								<% break;

								case 'D' : %>
							<%  ord_status='Delivered' %>
							<%  options = [ ]; %>
								<% break;

								case 'R' : %>
							<%  ord_status='Rejected' %>
							<%  options = [ ]; %>
								<% break;
						} %>

						 <% break;

						 case 'SE' : %>

						 <% switch (order.status) {
							 case 'P' : %>
										 <%  ord_status='Pending' %>
										 <%  options = [ ]; %>
											 <% break;

							 case 'A' : %>
										<% ord_status='Approved' %>
										<%  options = [ ]; %>
											 <% break;

							 case 'I' : %>
						 <%  ord_status='In-Progress' %>
						 <%  options = [  ]; %>
							 <% break;

							 case 'S' : %>
						 <%  ord_status='Shipped' %>
						 <%  options = [ "D" ]; %>
							 <% break;

							 case 'D' : %>
						 <%  ord_status='Delivered' %>
						 <%  options = [ ]; %>
							 <% break;

							 case 'R' : %>
						 <%  ord_status='Rejected' %>
						 <%  options = [ ]; %>
							 <% break;
					 } %>

						<% break;

						} %>

				<tr>
					<td scope="row">
						<a href="/orderdtl/<%= order.order_id %>"><%= order.order_id %></a>
					</td>
					<td scope="row">
						<a class="btn btn-primary" href="/geninvoice/id/<%= order.order_id %>" target="_blank"><%= order.order_id %> Invoice</a>
					</td>
					<td><%= moment(order.CREATETIME).format( 'YYYY-MM-DD') %></td>
					<td>₹<%= order.TOTAL %></td>
					<td>
						<p class="td-status rejected"><%= ord_status %></p>
					</td>
					<td>
						<% if (userType != 'SE') { %>
							<% if (userType == 'A') { %>
								<button type="button" onclick="openModel('<%= order.order_id %>','<%= options %>')" class="btn btn-success rounded-0">Update</button>
							 <% } %>
							<% switch (order.status) {
							 case 'S' : %>
							<a href="/geninvoice/id/<%= order.order_id %>" target="_blank" class="btn btn-primary btn-sm" disabled>Generate Invoice</a>
							<% if (userType == 'A') { %>
								<button class="btn btn-warning btn-sm" onclick="uploadReceipt('<%= order.order_id %>')"><b>Upload LR Receipt</b></button>
							 <% } %>
							 <% if (userType === 'DL' || userType === 'DT') { %>
								<a href="/public/lr_receipts/<%= order.order_id %>.pdf" target="_blank" class="btn btn-warning btn-sm"><b>Download LR Receipt</b></a>
							 <% } %>
							<% break;
							case 'D' : %>
							<br>
							<% if (userType === 'DL' || userType === 'DT') { %>
							<button type="button" onclick="openComplainModal('<%= order.order_id %>','<%= userId %>')" class="btn btn-primary rounded-0">Complain</button>
							
							<% } %>
							<% break;
							 } %>
						<% } %>
					</td>
				</tr>
				<% }); %>
				<%} %>

		</tbody>
		</table>
		</div>
		</div>
		
		</div>
		</div>
	</div>
</div>
</div>
<div id="dialog" title="Status Update" class="modal fade">
	<div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Submit Order Status</h5>
		  <button type="button" onclick="closeOrderStatusModal()" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
	<form id="orderaction" method="post" action="/update_order_status">
		<input type="hidden"  id="modal_orderId" name="orderId" value="">
		<div class="form-group">
		<select id="modal_action" class="form-control" name="status"  onchange="updateShipData()" required>
		<option value="" >Select</option>
		</select>
	</div>
		<div class="ship_div" style="display:none;">
			
				<div class="form-group">
					<label for="recipient-name" class="col-form-label"> Ship Address:</label>
					<input type="text" class="form-control" id="modal_shipaddressd" name="shipaddress" value="" placeholder="Ship Address">
				</div>
				<div class="form-group">
					<label for="Ship_Partner" class="col-form-label">Ship Partner:</label>
					<input type="text" class="form-control" id="modal_shippartnerId" name="shippartner" value="" placeholder="Ship Partner">
				</div>
				<div class="form-group">
					<label for="Ship_Type" class="col-form-label">Ship Type:</label>
					<input type="text" class="form-control" id="modal_shiptypeId" name="shiptype" value="" placeholder="Ship Type">
				</div>
			

			
				<div class="form-group">
					<label for="Ship_Weight" class="col-form-label">Ship Weight:</label>
					<input type="text" class="form-control" id="modal_shipweightId" name="shipweight" value="" placeholder="Ship Weight">
				</div>
				<div class="form-group">
					<label for="Ship_Quantity" class="col-form-label">Ship Quantity:</label>
					<input type="text" class="form-control" id="modal_shipquantityId" name="shipquantity" value="" placeholder="Ship Quantity">
				</div>
				<div class="form-group">
					<label for="Ship_Number" class="col-form-label">Ship Number:</label>
					<input type="text" class="form-control" id="modal_shipnumberId" name="shipnumber" value="" placeholder="Ship Number">
				</div>
			
			
			<div class="form-group">
				<label for="Ship_Date" class="col-form-label">Ship Date:</label>
				<input type="text" class="form-control" id="modal_shipdateId" name="shipdate" value="" placeholder="Ship Date">
			</div>
	</div>
	<div class="rec_div" style="display:none;">
	<!-- <p class="rec_ptag"> Name/Code:<input type="text" class="rec_input" id="modal_nameId" name="name" value="" placeholder="" disabled></p>
	<p class="rec_ptag"> Shipped Quantity:<input type="text" class="rec_input" id="modal_shipquantityId" name="shipquantity" value="" disabled></p>
	<p class="rec_ptag"> Shipped Date:<input type="text" class="rec_input" id="modal_shipdateId" name="shipdate" value="" disabled></p> -->
	<div class="form-group">
		<label for="Received_Quantity" class="col-form-label">Received Quantity:</label>
		<input type="text" class="form-control" id="modal_recquantityId" name="recquantity" value="" placeholder="Received Quantity">
	</div>
	<div class="form-group">
		<label for="Received_Date" class="col-form-label">Received Date:</label>
		<input type="text" class="form-control" id="modal_recdateId" name="recdate" value="" placeholder="Received Date">
	</div>
	
	
</div>
 <button type="submit" class="btn btn-success">Update</button>
	</form>
</div>
</div>
</div>





<div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Submit Complain</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form id="complaint" method="POST" action="/complaints">
			<input type="hidden" id="mbm_order_id" name="orderId" value="" />
			<input type="hidden" id="mbm_user_id" name="userId" value="" />
			<div class="form-group">
			  <label for="recipient-name" class="col-form-label">Quality Related Complain:</label>
			  <input type="text" class="form-control" value="" name="order_qa_complain">
			</div>
			<div class="form-group">
			  <label for="message-text" class="col-form-label">Quantity Related Complain:</label>
			  <input type="text" class="form-control" value="" name="order_qty_complain"/>
			</div>
			<div class="form-group">
				<label for="message-text" class="col-form-label">Delivery Related Complain:</label>
				<input type="text" class="form-control" value="" name="order_delivery_complain"/>
			</div>
			<div class="form-group">
				<label for="message-text" class="col-form-label">Feedback:</label>
				<input type="text" class="form-control" value="" name="feedback" />
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>





  <div class="modal fade" id="receiptmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Submit LR Receipt</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form id="receipt" method="POST" action="/upload_receipt" enctype="multipart/form-data">
			<input type="hidden" id="lr_receipt_order_id" name="lr_receipt_order_id" value="" />
			<div class="form-group">
			  <label for="upload_receipt_file" class="col-form-label">Upload Receipt:</label>
			  <input type="file"  name="receiptfile" accept=".pdf">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>
		</div>
		<div class="modal-footer">
		  
		</div>
	  </div>
	</div>
  </div>



<script src="/javascripts/fontawwesome.js"></script>
<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/atlantis.min.js"></script>
<script src="/javascripts/jquery-ui/jquery-ui.js"></script>
<script src="/javascripts/datatables/datatables.min.js"></script>
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
<script>
function filter(val){
	window.location.href = "http://mbmchairs-env.eba-mz8cbctk.ap-south-1.elasticbeanstalk.com/ordersByStatus/"+val;
}

$( function() {
    $( "#modal_shipdateId" ).datepicker();
		$( "#modal_recdateId" ).datepicker();
  } );
function openModel(orderId,options) {

 var opt_arry=options.split(',');
  $('#modal_orderId').val(orderId);
  $('.ship_div').css("display", "none");
  $('.ship_input').prop("type", "hidden");
  $('#modal_action')
    .find('option')
    .remove()
    .end()
    .append('<option value="">Select</option>');
  $.each(opt_arry, function(index, value) {
  switch (value) {
	case 'P':
  $('#modal_action').append(`<option value="P">Pending</option>`);
		break;
	case 'A':
		$('#modal_action').append(`<option value="A">Approve</option>`);
		break;
	case 'I':
		$('#modal_action').append(`<option value="I">In-Progress</option>`);
		break;
	case 'S':
		$('#modal_action').append(`<option value="S">Ship</option>`);
		break;
  case 'D':
  	$('#modal_action').append(`<option value="D">Deliver</option>`);
  	break;
  case 'R':
    $('#modal_action').append(`<option value="R">Reject</option>`);
    break;
}
});
    $( "#dialog" ).modal('show');
	
  }

  function closeOrderStatusModal()
  {
	console.log("closing");
	$( "#dialog" ).modal().hide();
	location.reload();
  }
  
function updateShipData(){
  var status=$('#modal_action').val();
  if(status=='S'){
    $('.ship_div').css("display", "block");
    $('.ship_input').prop("type", "text");
  }else if(status=='D'){
    $('.rec_div').css("display", "block");
    $('.rec_input').prop("type", "text");
  }else{
    $('.ship_div').css("display", "none");
    $('.ship_input').prop("type", "hidden");
  }
}
$(document).ready(function() {
	var table = $('#basic-datatables').DataTable();
	var order = table.order([0,'desc']).draw();
});

function openComplainModal(order_id, userId)
{

	$('#mbm_order_id').val(order_id);
	$('#mbm_user_id').val(userId);
	console.log(order_id);
	console.log(userId);
	$('#complaintModal').modal('show');
}

function uploadReceipt(order_id)
{
	console.log(order_id);
	$('#lr_receipt_order_id').val(order_id);
	$('#receiptmodal').modal('show');
	
}

function downloadReceipt(order_id)
{
	$.ajax({
        url: "/downloadreceipt/orderId/"+order_id,
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res);
        }
    });
}
</script>
</body>
</html>
