<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>User Mapping </title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- <link rel="shortcut icon" href="img/logo/favicon.ico"> -->


<!-- local bootstrap -->
<script src="/javascripts/webfont/webfont.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/stylesheets/atlantis.min.css">
<link href="/javascripts/jquery-ui/jquery-ui.css" rel="stylesheet"/>
<link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">
<!-- local style css -->
<link rel="stylesheet" href="/stylesheets/navbar.css">
<link rel="stylesheet" href="/stylesheets/index.css">


</head>
<body>
<div class="wrapper d-flex align-items-stretch">
<%- include("./partials/_menu.ejs",{userId:userId,userType:userType,username:username,userImg:userImg}) %>
<div class="dist-dealer-list section">
	<div class="container-fluid">
		<div class="dist-dealer-list-div section-div">
			
			<div class="d-flex justify-content-between mb-2">
				<h4 class="h4">USER MAPPING <span>LIST</span></h4>
				<a href="/mapping_cr" class="btn btn-danger btn-create btn-sm">+ Create Mapping</a>
			</div>
			<div class="table-div" id="horizontalScroll">
				<table id="basic-datatables" class="display table table-striped table-hover" >
				<thead>
					<tr>
						<th>Mapping ID</th>
						<th>First Name(SE)</th>
						<!-- <th>Last Name(SE)</th> -->
						<th>Login ID(SE)</th>
						<th>First Name(DL/DT)</th>
						<!-- <th>Last Name(DL/DT)</th> -->
						<!-- <th>Shop/Company Name(DL/DT)</th> -->
						<th>Login ID(DL/DT)</th>
						<!-- <th>Email ID(DL/DT)</th>
						<th>Mobile No(DL/DT)</th> -->
						
						<!-- <th>Shop/Company Name(SE)</th> -->
						
						<!-- <th>Email ID(SE)</th>
						<th>Mobile No(SE)</th> -->
						<th class="action">Action</th>
					</tr>
				</thead>
				<tbody>
					<% mapList.forEach(function(map){ %>
					<tr>
						<td><%= map.dlt_user_rel_id%></td>
						<td><%= map.se_fname %></td>
						<td><%= map.se_logon %></td>
						<td><%= map.dlt_fname %></td>
						<!-- <td><%= map.dlt_lname %></td> -->
						<!-- <td><%= map.dlt_company %></td> -->
						<td><%= map.dlt_logon %></td>
						<!-- <td><%= map.dlt_email %></td>
						<td><%= map.dlt_mobile %></td> -->
						<!-- <td><%= map.se_fname %></td> -->
						<!-- <td><%= map.se_lname %></td>
						<td><%= map.se_company %></td> -->
						<!-- <td><%= map.se_logon %></td> -->
						<!-- <td><%= map.se_email %></td>
						<td><%= map.se_mobile %></td> -->
						<td>
							<a href="/mappingbyId/Id/<%= map.dlt_user_rel_id %>" class="btn btn-dark btn-sm">View</a>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
			</div>
			
		</div>
	</div>
</div>
</div>


<script src="/javascripts/fontawwesome.js"></script>
<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/atlantis.min.js"></script>
<script src="/javascripts/jquery-ui/jquery-ui.js"></script>
<script src="/javascripts/datatables/datatables.min.js"></script>
<!-- Popper.js -->
<script src="/javascripts/popper.js"></script>
<!-- Bootstrap JS -->
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/main.js"></script>
<!-- <script src="/javascripts/vii.js"></script> -->
<!-- app -->
<script src="/javascripts/app.js"></script>
<script>
	$(document).ready(function() {
		var table = $('#basic-datatables').DataTable();
		var order = table.order([0,'desc']).draw();
	});
</script>
</body>
</html>
